*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

:root {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		avenir next,
		avenir,
		segoe ui,
		helvetica neue,
		Adwaita Sans,
		Cantarell,
		Ubuntu,
		roboto,
		noto,
		helvetica,
		arial,
		sans-serif;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--border-radius: 0.5rem;
}

body {
	min-height: 100vh;
}

input,
button,
textarea,
select {
	font: inherit;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

button {
	border-radius: var(--border-radius);
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 0.25em auto -webkit-focus-ring-color;
}

.hidden {
	display: none;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.header {
	text-align: center;
	margin-bottom: 2rem;
}

.header .title {
	font-size: 3.2rem;
	line-height: 1.1;
	margin: 2rem 0;
	cursor: default;
}

.header .subtitle {
	font-style: italic;
	margin: 2rem 0;
	cursor: default;
}

.noscript {
	width: calc(100% - 2rem);
	max-width: min(calc(100% - 2rem), 40rem);
	margin: 2rem auto;
}

.no-js .main {
	display: none;
}

.main {
	--content-width: 60rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.loader {
	font-size: 1.45rem;
	font-weight: 600;
	text-align: center;
	margin: 4rem auto 2rem;
}

.generator {
	width: calc(100% - 2rem);
	max-width: min(calc(100% - 2rem), var(--content-width));
	margin: 0 auto;
	margin-bottom: 2rem;
	font-size: 1.45rem;
}

.print {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.generator .label {
	display: block;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.generator .seed {
	margin: 0;
	padding: 0.5rem;
	border: 2px dotted currentColor;
	border-radius: var(--border-radius);
}
.generator .seed:hover {
	border-color: AccentColor;
}
.generator .seed:focus,
.generator .seed:focus-visible {
	outline: none;
	border-color: -webkit-focus-ring-color;
	border-color: AccentColor;
}

.passphrases {
	--gap: 2rem;
	display: grid;
	grid-template-columns:
		[left-margin-start] auto [left-margin-end content-start]
		min(calc(100% - 2rem), var(--content-width))
		[content-end right-margin-start] auto [right-margin-end];
}
@media screen and (width >= 32rem) {
	.passphrases {
		--gap: 1.5rem;
	}
}
@media screen and (width >= 40rem) {
	.passphrases {
		--gap: 1rem;
	}
}
@media screen and not (width >= 40rem) {
	.notes {
		display: none !important;
	}
}

.passphrases .section {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows:
		[section-start] auto repeat(
			var(--passphrases),
			var(--gap) 1.5fr 1fr 1fr 1fr
		)
		[section-end];
	grid-column: 1 / -1;
	margin-top: 2rem;
}
.passphrases .section:first-of-type {
	margin-top: 0;
}

.passphrases .content {
	display: grid;
	grid-template-columns: [passphrases-start] min-content 1fr [passphrases-end];
	grid-template-rows: subgrid;
	grid-row: section;
	column-gap: var(--gap);
}
@media screen and (width >= 40rem) {
	.passphrases .content {
		grid-template-columns: [passphrases-start] min-content 2fr [passphrases-end notes-start] 1fr [notes-end];
	}
}

.passphrases .left-margin {
	display: grid;
	grid-template-rows: subgrid;
	grid-row: section;
	grid-column: left-margin;
}
.passphrases .right-margin {
	display: grid;
	grid-template-rows: subgrid;
	grid-row: section;
	grid-column: right-margin;
}

.passphrases .heading {
	position: relative;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: end;
	bottom: -0.235em;
}
.passphrases .content > .heading {
	grid-column: passphrases;
}
.passphrases .heading.letter {
	font-size: 5rem;
}

.passphrase {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	grid-column: passphrases;
	grid-row: span 4;
	font-size: 1.125rem;
	border: 1px solid currentColor;
	border-radius: var(--border-radius);
}

.passphrase tbody {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	grid-column: inherit;
	grid-row: inherit;
	gap: 0;
}

.passphrase tr {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	grid-column: inherit;
	border-bottom: 1px dotted currentColor;
	gap: 0;
}

.passphrase tr:last-child {
	border-bottom: none;
}

.passphrase th,
.passphrase td {
	display: flex;
	padding: 0.25rem;
	align-items: start;
}
.passphrase tr > th:first-child,
.passphrase tr > td:first-child {
	padding-left: 0.5rem;
}
.passphrase tr > th:last-child,
.passphrase tr > td:last-child {
	padding-right: 0.5rem;
}

.passphrase .title {
	grid-column: inherit;
	font-size: 1.5rem;
}

.passphrase .label {
	justify-content: end;
	white-space: pre;
	cursor: default;
	user-select: none;
}

.passphrase .spacer {
	cursor: default;
	user-select: none;
}

.passphrases .notes {
	display: grid;
	grid-template-rows: subgrid;
	grid-template-columns: subgrid;
	grid-column: notes;
	grid-row: section;
}

.notes .heading {
	cursor: default;
	user-select: none;
}

.passphrases .notes .lines {
	display: grid;
	grid-row: 3 / section;
	border: 1px solid currentColor;
	border-radius: var(--border-radius);
}

.notes .line {
	border-bottom: 1px dotted currentColor;
}
.notes .line:last-child {
	border-bottom: none;
}

@media print {
	.subtitle {
		display: none;
	}

	.print {
		display: none;
	}
}
