*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

:root {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		avenir next,
		avenir,
		segoe ui,
		helvetica neue,
		Adwaita Sans,
		Cantarell,
		Ubuntu,
		roboto,
		noto,
		helvetica,
		arial,
		sans-serif;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--border-radius: 0.5rem;
}

body {
	min-height: 100vh;
}

input,
button,
textarea,
select {
	font: inherit;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

button {
	border-radius: var(--border-radius);
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 0.25em auto -webkit-focus-ring-color;
}

.hidden {
	display: none;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.header {
	text-align: center;
	margin-bottom: 2rem;
}

.header .title {
	font-size: 3.2rem;
	line-height: 1.1;
	margin: 2rem 0;
	cursor: default;
}

.header .subtitle {
	font-style: italic;
	margin: 2rem 0;
	cursor: default;
}

.noscript {
	width: calc(100% - 2rem);
	max-width: min(calc(100% - 2rem), 40rem);
	margin: 2rem auto;
}

.no-js .main {
	display: none;
}

.main {
	width: calc(100% - 2rem);
	max-width: min(calc(100% - 2rem), 48rem);
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.loader {
	font-size: 1.45rem;
	font-weight: 600;
	text-align: center;
	margin: 4rem auto 2rem;
}

.generator {
	width: 100%;
	margin-bottom: 2rem;
	font-size: 1.45rem;
}

.print {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.generator .label {
	display: block;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.generator .seed {
	margin: 0;
	padding: 0.5rem;
	border: 2px dotted currentColor;
	border-radius: var(--border-radius);
}
.generator .seed:hover {
	border-color: AccentColor;
}
.generator .seed:focus,
.generator .seed:focus-visible {
	outline: none;
	border-color: -webkit-focus-ring-color;
	border-color: AccentColor;
}

.passphrases {
	display: grid;
	grid-template-columns: min-content 1fr;
}

.passphrases .section {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: auto;
	grid-auto-rows: 2rem 1.5fr 1fr 1fr 1fr;
	grid-column: 1 / -1;
}
@media screen and (width >= 32rem) {
	.passphrases .section {
		grid-auto-rows: 1rem 1.5fr 1fr 1fr 1fr;
	}
}
@media screen and (width >= 40rem) {
	.passphrases .section {
		grid-auto-rows: 0.5rem 1.5fr 1fr 1fr 1fr;
	}
}

.passphrases .section .letter {
	grid-column: inherit;
	font-size: 5rem;
	margin-top: 2rem;
}
.passphrases .section:first-of-type .letter {
	margin-top: 0;
}

.passphrases .section .separator {
	grid-column: inherit;
}

.passphrase {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	grid-column: inherit;
	grid-row: span 4;
	font-size: 1.125rem;
	border: 1px solid currentColor;
	border-radius: var(--border-radius);
}

.passphrase tbody {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	grid-column: inherit;
	grid-row: span 4;
}

.passphrase tr {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: inherit;
	border-bottom: 1px dotted currentColor;
}

.passphrase tr:last-child {
	border-bottom: none;
}

.passphrase th,
.passphrase td {
	display: flex;
	padding: 0.25rem;
	align-items: start;
}
.passphrase tr > th:first-child,
.passphrase tr > td:first-child {
	padding-left: 0.5rem;
}
.passphrase tr > th:last-child,
.passphrase tr > td:last-child {
	padding-right: 0.5rem;
}

.passphrase .title {
	grid-column: inherit;
	font-size: 1.5rem;
}

.passphrase .label {
	justify-content: end;
	white-space: pre;
	cursor: default;
	user-select: none;
}

.passphrase .spacer {
	cursor: default;
	user-select: none;
}

@media print {
	.subtitle {
		display: none;
	}

	.print {
		display: none;
	}
}
