*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

@page {
	@top-left-corner {
		content: "";
	}
	@top-left {
		content: "";
	}
	@top-center {
		content: "";
	}
	@top-right {
		content: "";
	}
	@top-right-corner {
		content: "";
	}
	@bottom-left-corner {
		content: "";
	}
	@bottom-left {
		content: "";
	}
	@bottom-center {
		content: "";
	}
	@bottom-right {
		content: "";
	}
	@bottom-right-corner {
		content: "";
	}
	@left-top {
		content: "";
	}
	@left-middle {
		content: "";
	}
	@left-bottom {
		content: "";
	}
	@right-top {
		content: "";
	}
	@right-middle {
		content: "";
	}
	@right-bottom {
		content: "";
	}
}

:root {
	--font-family:
		-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica,
		arial, sans-serif;

	font-family: var(--font-family);

	color-scheme: light dark;
	--color: rgba(255, 255, 255, 0.87);
	--background-color: #242424;
	color: var(--color);
	background-color: var(--background-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--border-radius: 0.5rem;
	--gap: 2rem;
}
@media screen {
	:root {
		--grid-template-columns: [page-start left-margin-start]
			minmax(var(--gap), calc(calc(100% - 60rem) / 2)) [left-margin-end
			content-start passphrases-start] 2fr [passphrases-end notes-start] 1fr
			[notes-end content-end right-margin-start]
			minmax(var(--gap), calc(calc(100% - 60rem) / 2)) [right-margin-end
			page-end];
	}
}
@media screen and not (width >= 60rem) {
	:root {
		--gap: 1.5rem;
	}
}
@media screen and not (width >= 40rem) {
	:root {
		--notes-hide: none !important;
		--gap: 1rem;
		--grid-template-columns: [page-start left-margin-start]
			minmax(var(--gap), calc(calc(100% - 60rem) / 2)) [left-margin-end
			content-start passphrases-start] 1fr [passphrases-end content-end
			right-margin-start] minmax(var(--gap), calc(calc(100% - 60rem) / 2))
			[right-margin-end page-end];
	}
}

input,
button,
textarea,
select {
	font: inherit;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

button {
	border-radius: var(--border-radius);
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 0.25em auto -webkit-focus-ring-color;
}

.hidden {
	display: none;
}

@media (prefers-color-scheme: light) {
	:root {
		--color: #213547;
		--background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

header {
	grid-column: content;
	text-align: center;
	break-after: page;

	padding-top: 33.3vh;

	@media screen {
		padding-top: unset;
	}

	h1 {
		font-size: 3.2rem;
		line-height: 1.1;
		margin: 2rem 0;
		cursor: default;
	}

	p {
		display: none;

		@media screen {
			display: block;
			font-style: italic;
			margin: 2rem 0;
			cursor: default;
		}
	}
}

noscript p {
	width: calc(100% - 2rem);
	max-width: min(calc(100% - 2rem), 40rem);
	margin: 2rem auto;
}

.no-js main {
	display: none;
}

#print {
	grid-column: content;
	align-self: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

@media print {
	:root {
		font-size: 10pt;
		color: black;
		--grid-template-columns: [page-start left-margin-start] 0 [left-margin-end
			content-start passphrases-start] 2fr [passphrases-end notes-start] 1fr
			[notes-end content-end right-margin-start] 0 [right-margin-end page-end];
	}

	#print {
		display: none;
	}

	.header {
		page: cover;
		padding-top: 20%;
	}
	.header__subtitle {
		display: none;
	}
}
